In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./result/project-euler-problems.csv')

# First 5 problems

In [4]:
df.head()

,number,title,description,Published on,Solved by,Difficulty rating,Solved On,Solved
0,1,Multiples of 3 and 5,If we list all the natural numbers below 10 th...,2001-10-05,939109,5.0,2016-08-01 21:30:00,True
1,2,Even Fibonacci numbers,Each new term in the Fibonacci sequence is gen...,2001-10-19,747665,5.0,2016-08-01 21:31:00,True
2,3,Largest prime factor,"The prime factors of 13195 are 5, 7, 13 and 29...",2001-11-02,534715,5.0,2016-08-01 21:31:00,True
3,4,Largest palindrome product,A palindromic number reads the same both ways....,2001-11-16,472297,5.0,2016-08-01 21:32:00,True
4,5,Smallest multiple,2520 is the smallest number that can be divide...,2001-11-30,476679,5.0,2016-08-01 21:33:00,True

# Easy problems yet to solve

In [8]:
df[(df['Difficulty rating']<=15) & ~df['Solved']]

,number,title,description,Published on,Solved by,Difficulty rating,Solved On,Solved
61,62,Cubic permutations,"The cube, 41063625 (3453), can be permuted to ...",2004-01-30,29381,15.0,NaN,False
70,71,Ordered fractions,"Consider the fraction, n/d, where n and d are ...",2004-06-04,27435,10.0,NaN,False
72,73,Counting fractions in a range,"Consider the fraction, n/d, where n and d are ...",2004-07-02,23475,15.0,NaN,False
73,74,Digit factorial chains,The number 145 is well known for the property ...,2004-07-16,25033,15.0,NaN,False
75,76,Counting summations,It is possible to write five as a sum in exact...,2004-08-13,26857,10.0,NaN,False
300,301,Nim,"Nim is a game played with heaps of stones, whe...",2010-09-11,5820,15.0,NaN,False
345,346,Strong Repunits,"\nThe number 7 is special, because 7 is 111 wr...",2011-09-03,3833,15.0,NaN,False
346,347,Largest integer divisible by two primes,\nThe largest integer ≤ 100 that is only divis...,2011-09-03,4057,15.0,NaN,False
356,357,Prime generating integers,"\nConsider the divisors of 30: 1,2,3,5,6,10,15...",2011-11-05,7238,10.0,NaN,False
380,381,(prime-k) factorial,\nFor a prime p let S(p) = (∑ (p-k)!) mod(p) f...,2012-04-21,3766,15.0,NaN,False
386,387,Harshad Numbers,A Harshad or Niven number is a number that is ...,2012-06-03,4184,10.0,NaN,False
503,504,Square on the Inside,Let ABCD be a quadrilateral whose vertices are...,2015-02-21,2666,15.0,NaN,False
548,549,Divisibility of factorials,\nThe smallest number m such that 10 divides m...,2016-02-28,2327,15.0,NaN,False
621,622,Riffle Shuffles,\nA riffle shuffle is executed as follows: a d...,2018-03-11,1366,15.0,NaN,False
649,650,Divisors of Binomial Product,\nLet $B(n) = \displaystyle \prod_{k=0}^n {n \...,2019-01-05,1102,10.0,NaN,False
683,684,Inverse Digit Sum,Define $s(n)$ to be the smallest number that h...,2019-10-19,1086,5.0,NaN,False
685,686,Powers of Two,$2^7=128$ is the first power of two whose lead...,2019-10-26,1401,5.0,NaN,False
691,692,Siegbert and Jo,\nSiegbert and Jo take turns playing a game wi...,2019-12-07,592,10.0,NaN,False
693,694,Cube-full Divisors,\nA positive integer $n$ is considered cube-fu...,2019-12-21,502,15.0,NaN,False
699,700,Eulercoin,Leonhard Euler was born on 15 April 1707.\nCon...,2020-02-01,906,5.0,NaN,False